<nav class="navbar bg-light mb-3">
  <div class="container">
    <a class="navbar-brand" href="#">
      <%= image_tag "book_icon.png", alt: "book icon", width: "30", height: "24" %>
      <%= t ".fav_book" %>
    </a>
  </div>
</nav>
<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
  <% 10.times do  %>
    <%= render "layouts/card_book" %>
  <% end %>
</div>
