<div class="col mb-5">
  <div class="card h-100">
    <%= link_to(image_tag(check_img?(book, "book_icon.png"), class: "card-img-top", alt: "book image"), book) %>
    <div class="card-body p-4">
      <div class="text-center">
          <h5 class="fw-bolder">
            <%= link_to book.name, book, class: "text-decoration-none" %>
          </h5>
          <p class="card-text"><%= book.author_name %></p>
      </div>
    </div>
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      <div class="text-center">
        <%= button_to t(".request"), carts_path(book_id: book.id), class: "btn btn-outline-dark mt-auto" %>
      </div>
    </div>
  </div>
</div>
